.image-icon46 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
  z-index: 0;
}
.fiverr2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 72px;
  z-index: 3;
}
.fiverr-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.background19 {
  height: 32px;
  width: 731px;
  position: relative;
  border-radius: 0 var(--br-mini) var(--br-10xs) 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.what-service-are2 {
  width: 243px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 4;
}
.background-parent4 {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 0 var(--br-mini) var(--br-10xs) 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 731px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs) var(--padding-6xs);
  max-width: 100%;
  z-index: 3;
}
.background-icon11,
.image-icon47 {
  position: absolute;
  right: 4px;
  bottom: 3px;
  width: 43px;
  height: 33px;
  object-fit: cover;
}
.image-icon47 {
  right: 17px;
  bottom: 13px;
  width: 13px;
  height: 13px;
  object-fit: contain;
  z-index: 1;
}
.button5 {
  position: absolute;
  top: 0;
  left: 720px;
  background-color: var(--color-gray-300);
  width: 47px;
  height: 41px;
  z-index: 4;
}
.frame-parent23 {
  height: 41px;
  flex: 1;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: #b3b4b8;
}
.image-icon48 {
  width: 15px;
  height: 16px;
  position: relative;
  object-fit: contain;
  z-index: 3;
}
.image-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) 0 0;
}
.image-icon49 {
  width: 15px;
  height: 13px;
  position: relative;
  object-fit: contain;
  z-index: 3;
}
.image-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-8xs) 0 0;
}
.image-icon50 {
  width: 14px;
  height: 12px;
  position: relative;
  object-fit: contain;
  z-index: 3;
}
.image-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) 0 0;
}
.orders2 {
  align-self: stretch;
  position: relative;
  z-index: 3;
}
.available-balance {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.image-icon51 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.frame-parent24,
.frame-wrapper14 {
  display: flex;
  align-items: flex-start;
}
.frame-parent24 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-wrapper14 {
  width: 194px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: #8f9097;
}
.frame-parent22,
.frame-wrapper13 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent22 {
  width: 1085px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-wrapper13 {
  width: 1425px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.background-icon12,
.image-icon52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.image-icon52 {
  top: 466px;
  left: 135px;
  width: 443px;
  height: 14px;
  z-index: 2;
}
.image-icon53,
.image-icon54,
.image-icon55 {
  position: absolute;
  top: 456px;
  left: 556px;
  width: 8px;
  height: 5px;
  object-fit: contain;
  z-index: 2;
}
.image-icon54,
.image-icon55 {
  top: 454px;
  left: 540px;
  width: 9px;
  height: 9px;
}
.image-icon55 {
  top: 28px;
  left: 1372px;
  width: 27px;
  height: 30px;
}
.background-parent5 {
  height: 625px;
  width: 1407px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -623px;
}
.background-icon13 {
  height: 45px;
  width: 1440px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.gra-phics,
.programming-t1 {
  font-size: var(--font-size-2xs);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gra-phics {
  width: 113px;
  position: relative;
  color: var(--color-darkgray-800);
  white-space: nowrap;
  z-index: 1;
}
.programming-t1 {
  width: 124px;
}
.digltal-marketin,
.programming-t1,
.video-animatio1 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.digltal-marketin {
  display: inline-block;
  min-width: 104px;
}
.video-animatio1 {
  width: 115px;
  color: var(--color-darkgray-900);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.music-audio2,
.writing-transl1 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.writing-transl1 {
  color: #929397;
  min-width: 127px;
}
.music-audio2 {
  color: var(--color-darkgray-700);
  min-width: 90px;
}
.business2 {
  width: 55px;
  color: var(--color-darkgray-1400);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.business2,
.consulting2,
.data2 {
  position: relative;
  z-index: 1;
}
.consulting2 {
  color: #a1a2a6;
  display: inline-block;
  min-width: 68px;
}
.data2 {
  align-self: stretch;
}
.data-services {
  width: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  color: var(--color-darkgray-600);
}
.al-services2 {
  position: relative;
  display: inline-block;
  min-width: 72px;
  white-space: nowrap;
  z-index: 1;
}
.data-services1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  font-size: var(--font-size-smi);
  color: #a0a1a5;
}
.frame-header,
.frame-parent25,
.groups1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.groups1 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  background-image: url(/public/background8@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.frame-header,
.frame-parent25 {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-parent25 {
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-1000);
}
.frame-header {
  flex-direction: column;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.background20 {
  height: 78px;
  width: 1439px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.background-icon14 {
  height: 58px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.background-parent6 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.billing-and-paym1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}
.billing-and-paym-container {
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.billling-hlstory {
  min-width: 84px;
}
.avallable-balanc1,
.billling-hlstory,
.bllling-informat {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.bllling-informat {
  flex: 1;
  color: #49cb8e;
  min-width: 72px;
}
.avallable-balanc1 {
  min-width: 117px;
}
.avallable-balanc-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 76px;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray-1100);
}
.payment-methods1 {
  flex: 1;
  position: relative;
  color: #acaeb2;
  display: inline-block;
  min-width: 76px;
  z-index: 2;
}
.billling-hlstory-parent,
.frame-wrapper16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.billling-hlstory-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-6xl);
}
.frame-wrapper16 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
}
.billing-informat {
  margin: 0;
  width: 166px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 400;
  font-family: inherit;
  color: #545558;
  display: flex;
  align-items: center;
  z-index: 2;
}
.frame-parent28 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-23xl);
  font-size: var(--font-size-xs);
  color: #a8aaae;
}
.frame-parent27,
.frame-parent28,
.frame-wrapper15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent27 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.frame-wrapper15 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.full-name {
  flex: 1;
  position: relative;
  z-index: 2;
}
.full-name-wrapper {
  width: 69px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-2xs);
}
.background21 {
  height: 32px;
  width: 434px;
  position: relative;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.praveenappu {
  position: relative;
  display: inline-block;
  min-width: 80px;
  z-index: 3;
}
.company-name,
.full-name1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.company-name {
  flex: 1;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gainsboro-500);
  padding: var(--padding-6xs) var(--padding-2xs);
  z-index: 2;
}
.full-name1 {
  align-self: stretch;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  color: #737477;
}
.company-name1 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.country {
  width: 106px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.background22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.image1 {
  position: absolute;
  top: 6px;
  left: 105px;
  background-color: var(--color-white);
  width: 222px;
  height: 20px;
  z-index: 1;
}
.street-or-p-o-b {
  height: 33px;
  flex: 1;
  position: relative;
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  max-width: 100%;
}
.address,
.text {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.text {
  background-color: var(--color-gray-300);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-8xs);
  box-sizing: border-box;
  z-index: 2;
}
.address {
  flex-direction: column;
  gap: var(--gap-8xs);
  font-size: var(--font-size-2xs);
  color: #5a5b5f;
}
.country1 {
  width: 53px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}
.background23 {
  height: 33px;
  width: 434px;
  position: relative;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image-icon56,
.india {
  position: relative;
  z-index: 3;
}
.india {
  width: 30px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-icon56 {
  height: 9px;
  width: 20px;
  object-fit: contain;
}
.india-flag {
  align-self: stretch;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-7xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray-900);
}
.card-details,
.card-details-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.card-details-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  box-sizing: border-box;
  color: #656669;
}
.stateunlon-terr {
  flex: 1;
  position: relative;
  z-index: 2;
}
.mandatory {
  position: relative;
  color: #b5b6bb;
  display: inline-block;
  min-width: 74px;
  z-index: 2;
}
.stateunlon-terr-parent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-12xs);
}
.frame-parent29,
.frame-wrapper17,
.frame-wrapper18,
.stateunlon-terr-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper18 {
  width: 217px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  color: #616265;
}
.frame-parent29,
.frame-wrapper17 {
  max-width: 100%;
}
.frame-parent29 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-wrapper17 {
  width: 447px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-dimgray-700);
}
.address1 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.address-wrapper {
  width: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.background24,
.background25 {
  height: 41px;
  width: 444px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.background25 {
  height: 33px;
  width: 434px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
}
.street-or-pob {
  position: relative;
  display: inline-block;
  min-width: 87px;
  z-index: 2;
}
.background-parent7,
.frame-parent31,
.text1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background-parent7 {
  flex: 1;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-5xs);
  z-index: 1;
}
.frame-parent31,
.text1 {
  align-self: stretch;
}
.text1 {
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-6xs);
  box-sizing: border-box;
  z-index: 2;
  color: #d1d1d4;
}
.frame-parent31 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.clty {
  position: relative;
  display: inline-block;
  min-width: 27px;
  z-index: 2;
}
.clty-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.background26,
.background27 {
  position: relative;
  max-width: 100%;
}
.background26 {
  height: 40px;
  width: 441px;
  background-color: var(--color-white);
  display: none;
}
.background27 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gray-700);
  border: 1px solid #cecfd1;
  box-sizing: border-box;
  z-index: 1;
}
.postal-code,
.text2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.text2 {
  height: 41px;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  z-index: 2;
}
.postal-code {
  gap: var(--gap-8xs);
  color: var(--color-dimgray-500);
}
.frame-parent26,
.frame-parent30,
.postal-code {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent30 {
  width: 445px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-4xs);
  max-width: 100%;
  color: #616165;
}
.frame-parent26 {
  width: 518px;
  gap: 34px;
}
.billing-2,
.frame-parent26,
.root-child,
.root2 {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.root-child {
  width: 846px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.billing-2,
.root2 {
  justify-content: flex-start;
}
.root2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-13xl);
  background-image: url(/public/image8@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-600);
  font-family: var(--font-inter);
}
.billing-2 {
  width: 1440px;
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 725px) {
  .root2 {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 650px) {
  .frame-parent28 {
    gap: var(--gap-2xl);
  }
  .frame-parent27 {
    gap: var(--gap-mini);
  }
  .frame-parent26 {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .billing-and-paym1 {
    font-size: var(--font-size-lgi);
  }
}
