.image-38-icon {
  width: 1.625rem;
  height: 1.75rem;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.image-38-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.personal-nfo {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 4.688rem;
}
.personal-nfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs) 0 0;
}
.image-39-icon,
.image-40-icon {
  position: absolute;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.image-39-icon {
  top: 0;
  left: 1.125rem;
  width: 1.563rem;
  height: 1.625rem;
}
.image-40-icon {
  top: 0.438rem;
  left: 0;
  width: 0.688rem;
  height: 0.75rem;
}
.image-39-parent {
  width: 2.688rem;
  height: 1.625rem;
  position: relative;
}
.frame-wrapper125 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs) 0 0;
}
.froresicna-hto {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 1.5rem;
  color: var(--color-mediumseagreen-100);
  display: inline-block;
  min-width: 7.688rem;
}
.image-37-icon {
  width: 1.563rem;
  height: 1.563rem;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.image-37-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.frame-parent137 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-11xs);
  min-width: 11.5rem;
}
.frame-parent136,
.frame-parent137,
.frame-wrapper124 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent136 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xs);
}
.frame-wrapper124 {
  width: 19.75rem;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.corplotion-rate-s0 {
  position: relative;
  line-height: 1.188rem;
  display: inline-block;
  min-width: 7rem;
}
.frame-parent135,
.frame-wrapper123,
.textbox-11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.textbox-11 {
  height: 1.938rem;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-6xs) var(--padding-8xs-5)
    var(--padding-5xs);
  white-space: nowrap;
  font-size: var(--font-size-2xs);
}
.frame-parent135,
.frame-wrapper123 {
  max-width: 100%;
}
.frame-parent135 {
  width: 65.938rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper123 {
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-3xl);
  box-sizing: border-box;
}
.professlonal-info {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.375rem;
  font-weight: 700;
  font-family: inherit;
}
.professlonal-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.hiis-yortimetoshine-et,
.t1 {
  position: relative;
  display: inline-block;
}
.hiis-yortimetoshine-et {
  height: 1.625rem;
  width: 22.438rem;
  line-height: 1.625rem;
  max-width: 100%;
}
.t1 {
  margin: 0;
  font-size: inherit;
  line-height: 2.25rem;
  font-weight: 700;
  font-family: inherit;
  min-width: 0.513rem;
  z-index: 1;
}
.hiis-yortimetoshine-et-poten-b-parent,
.t-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.t-wrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -22.438rem;
  font-size: var(--font-size-4xl);
  font-family: var(--font-lexend);
}
.hiis-yortimetoshine-et-poten-b-parent {
  width: 22.438rem;
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.experience,
.mtandatory-tierds {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.experience {
  font-size: var(--font-size-xs);
  line-height: 1.25rem;
  min-width: 4rem;
  z-index: 2;
  margin-top: -0.125rem;
}
.mtandatory-tierds {
  line-height: 1.125rem;
  min-width: 6.313rem;
}
.mtandatory-tierds-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -0.125rem;
  font-size: var(--font-size-2xs);
}
.frame-parent138,
.frame-parent139 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-silver-300);
  font-family: var(--font-manrope);
}
.frame-parent138 {
  gap: var(--gap-7xs);
  font-size: var(--font-size-6xl);
  color: var(--color-dimgray-1100);
  font-family: var(--font-lexend);
}
.progarmingtech,
.your-ocoupation {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 7.125rem;
}
.progarmingtech {
  min-width: 7.25rem;
}
.progarmingtech-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xs);
}
.eysinmnech {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.625rem;
  color: var(--color-gray-1500);
  display: inline-block;
  min-width: 5.813rem;
}
.frame-parent143,
.frame-wrapper128 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent143 {
  gap: var(--gap-12xl);
}
.frame-wrapper128 {
  padding: var(--padding-9xs) 0 0;
}
.caret-down-1 {
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.caret-down-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.from2 {
  position: relative;
  line-height: 1.25rem;
  display: inline-block;
  min-width: 1.813rem;
}
.data-aggregator3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.year {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 1.75rem;
}
.caret-down-icon2 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-23,
.caret-down-container,
.data-aggregator-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.caret-down-container {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.button-23,
.data-aggregator-parent {
  flex: 1;
  flex-direction: row;
}
.button-23 {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-300);
  overflow: hidden;
  padding: var(--padding-10xs) var(--padding-3xs);
  gap: var(--gap-8xs);
  font-size: var(--font-size-sm);
}
.data-aggregator-parent {
  gap: var(--gap-7xs);
}
.year1 {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 1.75rem;
}
.caret-down-icon3 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.caret-down-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.button-22 {
  width: 4.563rem;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-2xs);
  gap: var(--gap-8xs);
  font-size: var(--font-size-sm);
}
.button-22,
.frame-parent142,
.frame-parent144 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent144 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-7xl);
  min-width: 9.938rem;
  font-size: var(--font-size-xs);
  color: var(--color-silver-300);
}
.frame-parent142 {
  width: 27.125rem;
  align-items: flex-start;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.rectangle14 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.al-applications {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 6rem;
}
.frame-parent147,
.frame-wrapper130 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent147 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-wrapper130 {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.rectangle15 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.blockchain-cryptocurrency {
  position: relative;
  line-height: 1.375rem;
}
.frame-parent146,
.frame-parent148 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-parent146 {
  width: 28.188rem;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.rectangle16 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.convert-files {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 5.313rem;
}
.frame-parent150,
.frame-wrapper131 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent150 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-wrapper131 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.rectangle17 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cybersecurity-data {
  position: relative;
  line-height: 1.375rem;
}
.frame-parent149,
.frame-parent151 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-parent149 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rectangle18 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.devops-cioud {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 6.313rem;
}
.frame-parent153,
.frame-wrapper132 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent153 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-wrapper132 {
  flex-direction: column;
  padding: var(--padding-11xs-7) 0 0;
}
.rectangle19 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.development-for-streamers {
  position: relative;
  line-height: 1.375rem;
}
.frame-parent152,
.frame-parent154 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-parent152 {
  width: 27.313rem;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.rectangle20 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.game-development {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 7.938rem;
}
.frame-parent156,
.frame-wrapper133 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent156 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-wrapper133 {
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
}
.rectangle21 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.mobile-apps {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 4.938rem;
}
.frame-parent155,
.frame-parent157 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-parent155 {
  width: 21.188rem;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangle22 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.online-ooding-lessons {
  position: relative;
  line-height: 1.375rem;
}
.frame-parent159 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle23 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.user-testing {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 5.125rem;
}
.frame-parent160 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle24 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.webaite-maintenance {
  position: relative;
  line-height: 1.375rem;
}
.frame-parent158,
.frame-parent161,
.shape-container-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent161 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-parent158,
.shape-container-inner {
  flex-direction: column;
}
.frame-parent158 {
  gap: var(--gap-9xs-6);
}
.shape-container-inner {
  padding: var(--padding-11xs-4) 0 0;
}
.arc-archive {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.arc-archive-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.qa-review {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 4.813rem;
}
.image-bank {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle25 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.web-progamming {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 7.063rem;
}
.image-bank-parent,
.image-bank1,
.shape-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.image-bank-parent,
.shape-container {
  flex-direction: column;
  gap: var(--gap-9xs-8);
}
.shape-container {
  width: 23.313rem;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-parent145,
.frame-wrapper129 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent145 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xs-1);
}
.frame-wrapper129 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-2xs-1) var(--padding-10xs);
  box-sizing: border-box;
  color: var(--color-gray-1500);
}
.adnn {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 1.875rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 3.75rem;
}
.frame-parent141,
.layer-organizer2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.layer-organizer2 {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen-100);
  font-family: var(--font-lexend);
}
.frame-parent141 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.proximity-sensor3 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.symbol-saver {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.chatbots-development {
  position: relative;
  line-height: 1.375rem;
}
.gradient-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle26 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.dektop-pliatin {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 5.625rem;
}
.gradient-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle27 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.ectronics-engneering {
  position: relative;
  line-height: 1.375rem;
}
.gradient-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle28 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.nft-development {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 7.125rem;
}
.gradient-container3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle29 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.support-it {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 4.688rem;
}
.gradient-container4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.rectangle30 {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-1100);
  box-sizing: border-box;
}
.rectangle-wrapper19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.website-development {
  position: relative;
  line-height: 1.375rem;
}
.gradient-container5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.effect-engine {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs-5);
}
.effect-engine,
.frame-parent140,
.pattern-provider {
  display: flex;
  justify-content: flex-start;
}
.pattern-provider {
  height: 14rem;
  flex-direction: column;
  align-items: flex-start;
  min-width: 10.75rem;
  color: var(--color-gray-1500);
}
.frame-parent140 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.frame-wrapper127,
.your-ocoupation-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper127 {
  width: 40.813rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  color: var(--color-dimgray-1100);
}
.your-ocoupation-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent134,
.frame-wrapper126 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper126 {
  width: 63.625rem;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-gray-1500);
}
.frame-parent134 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-18xl);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-silver-300);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1000px) {
  .your-ocoupation-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent135 {
    flex-wrap: wrap;
  }
  .pattern-provider {
    flex: 1;
  }
  .frame-parent140 {
    flex-wrap: wrap;
  }
  .frame-parent134 {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .frame-parent136 {
    flex-wrap: wrap;
  }
  .professlonal-info {
    font-size: var(--font-size-xl);
    line-height: 1.875rem;
  }
  .t1 {
    font-size: var(--font-size-lg);
    line-height: 1.813rem;
  }
  .frame-parent142 {
    flex-wrap: wrap;
    gap: var(--gap-12xl);
  }
  .frame-parent146,
  .frame-parent149,
  .frame-parent152,
  .frame-parent155,
  .shape-container {
    flex-wrap: wrap;
  }
  .adnn {
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
}
