.image-icon118 {
  height: 123px;
  width: 200px;
  position: relative;
  border-radius: var(--br-8xs-5);
  object-fit: cover;
  display: none;
}
.image-icon119 {
  height: 23px;
  width: 24px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.image-parent21 {
  flex: 1;
  border-radius: var(--br-8xs-5);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-67xl) var(--padding-2xs) var(--padding-sm);
  background-image: url(/public/image6@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
