.categories1 {
  position: relative;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 5.313rem;
}
.digital-marketing2,
.graphics-design2,
.video-animation3,
.writing-translation2 {
  position: relative;
  line-height: 1.5rem;
}
.music-audio7 {
  display: inline-block;
  min-width: 6.813rem;
}
.music-audio7,
.programming-tech2 {
  position: relative;
  line-height: 1.5rem;
}
.business7,
.data6,
.lifestyle1,
.photography2,
.sitemap1 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 2.313rem;
}
.business7,
.lifestyle1,
.photography2,
.sitemap1 {
  min-width: 4.25rem;
}
.lifestyle1,
.photography2,
.sitemap1 {
  min-width: 4.063rem;
}
.photography2,
.sitemap1 {
  min-width: 6.313rem;
}
.sitemap1 {
  min-width: 3.938rem;
}
.auto-layout-vertical21 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-base);
}
.auto-layout-horizontal56,
.auto-layout-vertical20 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-horizontal56 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-base);
  color: var(--color-gray-1600);
}
.auto-layout-vertical20 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl-4);
  min-width: 15.563rem;
  max-width: 15.875rem;
}
.about1,
.careers1,
.partnerships1,
.press-news1 {
  position: relative;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 3.063rem;
}
.careers1,
.partnerships1,
.press-news1 {
  line-height: 1.5rem;
  min-width: 3.75rem;
}
.partnerships1,
.press-news1 {
  min-width: 6.625rem;
}
.partnerships1 {
  min-width: 6.188rem;
}
.privacy-policy1 {
  display: inline-block;
  min-width: 6.688rem;
}
.intellectual-property-claims1,
.investor-relations1,
.privacy-policy1,
.terms-of-service1 {
  position: relative;
  line-height: 1.5rem;
}
.auto-layout-vertical23 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-base);
}
.auto-layout-horizontal57,
.auto-layout-vertical22 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-horizontal57 {
  align-self: stretch;
  flex-direction: row;
  color: var(--color-gray-1600);
}
.auto-layout-vertical22 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl-4);
  min-width: 15.563rem;
  max-width: 15.875rem;
  font-size: var(--font-size-base);
}
.support1 {
  position: relative;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 3.875rem;
}
.buying-on-fiverr1,
.help-support1,
.selling-on-fiverr1,
.trust-safety1 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 7.375rem;
}
.buying-on-fiverr1,
.selling-on-fiverr1,
.trust-safety1 {
  min-width: 6.875rem;
}
.buying-on-fiverr1,
.selling-on-fiverr1 {
  min-width: 7.75rem;
}
.buying-on-fiverr1 {
  min-width: 7.938rem;
}
.auto-layout-vertical25 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-base);
}
.auto-layout-horizontal58,
.auto-layout-vertical24 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-horizontal58 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-base);
  color: var(--color-gray-1600);
}
.auto-layout-vertical24 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl-4);
  min-width: 15.563rem;
  max-width: 15.875rem;
}
.community1 {
  position: relative;
  line-height: 1.438rem;
  display: inline-block;
  min-width: 5.625rem;
}
.customer-success-stories1 {
  position: relative;
  line-height: 1.5rem;
}
.blog1,
.community-hub1,
.events1,
.forum1 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 7.813rem;
}
.blog1,
.events1,
.forum1 {
  min-width: 3.125rem;
}
.blog1,
.events1 {
  min-width: 3.313rem;
}
.blog1 {
  font-size: var(--font-size-mini);
  min-width: 2rem;
}
.affiliates1,
.influencers1,
.invite-a-friend1,
.podcast1 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 5.375rem;
}
.affiliates1,
.invite-a-friend1,
.podcast1 {
  min-width: 4.25rem;
}
.invite-a-friend1,
.podcast1 {
  min-width: 3.938rem;
}
.invite-a-friend1 {
  min-width: 6.875rem;
}
.become-a-seller1 {
  display: inline-block;
  min-width: 7.688rem;
}
.become-a-seller1,
.community-standards1 {
  position: relative;
  line-height: 1.5rem;
}
.auto-layout-vertical27 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-base);
}
.auto-layout-horizontal59,
.auto-layout-vertical26 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-horizontal59 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-base);
  color: var(--color-gray-1600);
}
.auto-layout-vertical26 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl-4);
  min-width: 15.563rem;
  max-width: 15.875rem;
}
.more-from-fiverr1 {
  position: relative;
  line-height: 1.4rem;
}
.fiverr-pro1 {
  display: inline-block;
  min-width: 4.75rem;
}
.fiverr-guides1,
.fiverr-logo-maker1,
.fiverr-pro1 {
  position: relative;
  line-height: 1.5rem;
}
.fiverr-guides1 {
  display: inline-block;
  min-width: 6.313rem;
}
.clearvoice1,
.content-marketing1,
.fiverr-select1,
.get-inspired1 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 5.875rem;
}
.clearvoice1,
.content-marketing1,
.fiverr-select1 {
  min-width: 6.063rem;
}
.clearvoice1,
.content-marketing1 {
  min-width: 5.125rem;
}
.content-marketing1 {
  font-size: var(--font-size-sm);
  color: var(--color-silver-500);
  min-width: 7.75rem;
}
.auto-layout-vertical30 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.fiverr-workspace1,
.invoice-software1 {
  position: relative;
  line-height: 1.5rem;
}
.invoice-software1 {
  font-size: var(--font-size-sm);
  color: var(--color-silver-500);
  display: inline-block;
  min-width: 6.938rem;
}
.auto-layout-vertical31 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.learn1,
.online-courses1 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 2.75rem;
}
.online-courses1 {
  font-size: var(--font-size-sm);
  color: var(--color-silver-500);
  min-width: 6.313rem;
}
.auto-layout-vertical32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.working-not-working1 {
  position: relative;
  line-height: 1.5rem;
  white-space: nowrap;
}
.auto-layout-vertical29 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.auto-layout-horizontal60 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  color: var(--color-gray-1600);
}
.auto-layout-horizontal60,
.auto-layout-vertical-group,
.auto-layout-vertical28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-vertical28 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl-4);
  min-width: 15.563rem;
  max-width: 15.875rem;
  font-size: var(--font-size-base);
}
.auto-layout-vertical-group {
  width: 87.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.rectangle41 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-900);
  max-width: 100%;
}
.rectangle-wrapper20 {
  width: 87.5rem;
  height: 1.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-icon122 {
  align-self: stretch;
  height: 1.438rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper147 {
  width: 4.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
  box-sizing: border-box;
}
.fiverr-international-ltd1 {
  position: relative;
  line-height: 1.313rem;
}
.frame-parent180 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper146 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.frame-icon123 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper148 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-8) var(--padding-10xs-5) 0;
}
.frame-icon124 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper149 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-8) var(--padding-10xs-5) 0;
}
.frame-icon125 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper150 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-8) var(--padding-10xs-5) 0;
}
.frame-icon126 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper151 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-8) var(--padding-10xs-5) 0;
}
.frame-icon127 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper152 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl-8) var(--padding-10xs-5) 0;
}
.frame-icon128 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper154 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
}
.english2 {
  position: relative;
  line-height: 1.313rem;
  font-weight: 600;
  display: inline-block;
  min-width: 3rem;
}
.frame-parent182 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-wrapper153 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs-5) var(--padding-9xs) 0;
}
.inr1 {
  align-self: stretch;
  position: relative;
  line-height: 1.313rem;
  font-weight: 600;
  display: inline-block;
  min-width: 2.188rem;
}
.inr-container {
  width: 2.188rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.frame-icon129 {
  height: 2rem;
  width: 2rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent181 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl-2);
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-gray-1600);
}
.frame-parent179,
.frame-parent181,
.frame79 {
  display: flex;
  max-width: 100%;
}
.frame-parent179 {
  width: 87.5rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-silver-500);
}
.frame79 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gainsboro-900);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-43xl) var(--padding-xl) var(--padding-12xl);
  z-index: 6;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-400);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .frame-parent179 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .auto-layout-vertical-group {
    gap: var(--gap-base);
  }
  .frame-parent181 {
    flex-wrap: wrap;
  }
  .frame79 {
    padding-top: var(--padding-43xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
