.frame-icon73 {
  align-self: stretch;
  height: 1.688rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper119 {
  width: 7.563rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-13xl) 0 0;
  box-sizing: border-box;
}
.what-service-are5 {
  width: 47.056rem;
  position: relative;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
}
.frame67 {
  width: 50.481rem;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-white);
  border-top: 1px solid var(--color-silver-400);
  border-bottom: 1px solid var(--color-silver-400);
  border-left: 1px solid var(--color-silver-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-mid) var(--padding-10xs);
  max-width: 100%;
}
.frame-icon74 {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.auto-layout-horizontal-wrapper3,
.auto-layout-horizontal18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-horizontal18 {
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-gray-1700);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-mid);
}
.auto-layout-horizontal-wrapper3 {
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
}
.frame-icon75 {
  height: 1.188rem;
  width: 1.188rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle30 {
  height: 0.375rem;
  width: 0.375rem;
  position: absolute;
  margin: 0 !important;
  top: -0.25rem;
  right: -0.062rem;
  border-radius: var(--br-10xs);
  background-color: var(--color-hotpink);
  z-index: 1;
}
.auto-layout-horizontal-wrapper4,
.auto-layout-horizontal19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-horizontal19 {
  flex-direction: row;
  position: relative;
}
.auto-layout-horizontal-wrapper4 {
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-5xl) 0 0;
}
.frame-icon76 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper120 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl) 0 0;
}
.frame-icon77 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper121 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl) 0 0;
}
.orders5 {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  display: inline-block;
  min-width: 3.438rem;
}
.orders-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-4) 0 0;
}
.switch-to-selling {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-mediumseagreen-100);
  display: inline-block;
  min-width: 7.563rem;
  white-space: nowrap;
}
.frame-inner9,
.frame-parent149 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent149 {
  flex-direction: row;
  gap: var(--gap-4xl-1);
}
.frame-inner9 {
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-12xl-2) 0 0;
  color: var(--color-gray-1600);
}
.c {
  position: absolute;
  margin: 0 !important;
  top: 0.25rem;
  left: 0.625rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 0.75rem;
}
.auto-layout-horizontal20,
.frame-icon78 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.frame-icon78 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.auto-layout-horizontal20 {
  border-radius: var(--br-base);
  background-color: var(--color-chocolate-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs);
  box-sizing: border-box;
}
.rectangle31 {
  position: absolute;
  top: 1.375rem;
  left: 1.375rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumseagreen-100);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  z-index: 2;
}
.frame68 {
  align-self: stretch;
  height: 2rem;
  position: relative;
  border-radius: var(--br-base);
}
.frame-wrapper122 {
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base-7);
  color: var(--color-white);
}
.frame65,
.frame66 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame66 {
  flex: 1;
  border-bottom: 1px solid var(--color-gainsboro-900);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-lgi) var(--padding-xl) var(--padding-lg);
}
.frame65 {
  align-self: stretch;
  background-color: var(--color-white);
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-1200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1300px) {
  .frame67 {
    display: none;
  }
}
