@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-manrope: Manrope;
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-2xs: 0.688rem;
  --font-size-3xs: 0.625rem;
  --font-size-4xs: 0.563rem;
  --font-size-lg: 1.125rem;
  --font-size-xs: 0.75rem;
  --font-size-smi: 0.813rem;
  --font-size-lgi: 1.188rem;
  --font-size-5xl: 1.5rem;
  --font-size-6xl: 1.563rem;
  --font-size-2xl: 1.313rem;
  --font-size-mid: 1.063rem;
  --font-size-base: 1rem;
  --font-size-3xl: 1.375rem;
  --font-size-sm: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-4xl: 1.438rem;
  --font-size-mini: 0.938rem;
  --font-size-11xl: 1.875rem;

  /* Colors */
  --color-gray-600: #feffff;
  --color-gray-700: #fefffe;
  --color-gray-400: #fffeff;
  --color-gray-800: #fefeff;
  --color-gray-500: rgba(254, 254, 254, 1);
  --color-gray-100: #fefefe;
  --color-gray-1200: #fafafa;
  --color-gray-900: #939498;
  --color-gray-1000: #929398;
  --color-gray-1300: #919399;
  --color-gray-200: #919397;
  --color-gray-1100: #7d7f84;
  --color-gray-1400: #252525;
  --color-gray-1500: #171a1f;
  --color-gray-300: rgba(0, 0, 0, 0);
  --color-darkslategray-200: #4a4b4f;
  --color-darkslategray-300: #48494a;
  --color-darkslategray-100: #464749;
  --color-darkgray-1500: #b2b2bd;
  --color-darkgray-1600: #b2b2b2;
  --color-darkgray-400: #a8aaaf;
  --color-darkgray-1100: #a7a9ae;
  --color-darkgray-1700: #a7a8ab;
  --color-darkgray-600: #a3a4a7;
  --color-darkgray-500: #a2a3a7;
  --color-darkgray-1800: #9ea0a3;
  --color-darkgray-100: #9fa0a1;
  --color-darkgray-700: #9c9da1;
  --color-darkgray-1900: #9b9ca0;
  --color-darkgray-800: #9a9ca0;
  --color-darkgray-200: #9a9b9f;
  --color-darkgray-900: #999a9e;
  --color-darkgray-1200: #98999d;
  --color-darkgray-1300: #97989c;
  --color-darkgray-300: #96979b;
  --color-darkgray-1000: #95969a;
  --color-darkgray-1400: #94969a;
  --color-darkgray-2000: #939599;
  --color-sienna-100: #975f33;
  --color-navajowhite: #fedfb2;
  --color-dimgray-100: #6a6b6e;
  --color-dimgray-500: #696a6d;
  --color-dimgray-900: #636465;
  --color-dimgray-200: #636367;
  --color-dimgray-1000: #626366;
  --color-dimgray-300: #5f6063;
  --color-dimgray-1100: #565d6d;
  --color-dimgray-700: #5c5d60;
  --color-dimgray-400: #58585c;
  --color-dimgray-600: #4f5054;
  --color-dimgray-800: #4c4d51;
  --color-whitesmoke-400: #f9f9fa;
  --color-whitesmoke-100: #f4f4f4;
  --color-whitesmoke-200: #f3f3f4;
  --color-whitesmoke-300: #f2f3f3;
  --color-whitesmoke-500: #f1f2f3;
  --color-lightgray-500: #d4d5d7;
  --color-lightgray-600: #d4d4d6;
  --color-lightgray-100: #d3d4d6;
  --color-lightgray-400: #d2d2d4;
  --color-lightgray-200: #d1d2d5;
  --color-lightgray-300: #cecfd2;
  --color-lightgray: #c5d3c9;
  --color-gainsboro-200: #e3e4e5;
  --color-gainsboro-300: #e2e3e4;
  --color-gainsboro-800: #e2e2e4;
  --color-gainsboro-400: #e1e2e3;
  --color-gainsboro-100: #e1e1e3;
  --color-gainsboro-500: #dfe0e2;
  --color-gainsboro-600: #dadadc;
  --color-gainsboro-700: #d8d9db;
  --color-silver-300: #bdc1ca;
  --color-silver-200: #b4b6ba;
  --color-silver-100: #a7c0af;
  --color-darkolivegreen-100: #245b35;
  --color-darkolivegreen-200: #235b35;
  --color-seagreen: #246239;
  --color-white: #fff;
  --color-mediumseagreen-100: #1dbf73;
  --color-black: #000;
  --color-lightslategray: #9095a1;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-14xl: 2.062rem;
  --gap-base: 1rem;
  --gap-lg: 1.125rem;
  --gap-smi: 0.812rem;
  --gap-6xs: 0.437rem;
  --gap-5xs: 0.5rem;
  --gap-sm: 0.875rem;
  --gap-3xs: 0.625rem;
  --gap-9xs: 0.25rem;
  --gap-8xs: 0.312rem;
  --gap-3xl: 1.375rem;
  --gap-mini: 0.937rem;
  --gap-11xs: 0.125rem;
  --gap-4xs: 0.562rem;
  --gap-12xs: 0.062rem;
  --gap-4xl: 1.437rem;
  --gap-12xl: 1.937rem;
  --gap-xs: 0.75rem;
  --gap-2xs: 0.687rem;
  --gap-2xl: 1.312rem;
  --gap-13xl: 2rem;
  --gap-16xl: 2.187rem;
  --gap-mid: 1.062rem;
  --gap-10xs: 0.187rem;
  --gap-6xl: 1.562rem;
  --gap-28xl: 2.937rem;
  --gap-23xl: 2.625rem;
  --gap-58xl: 4.812rem;
  --gap-lgi: 1.187rem;
  --gap-20xl: 2.437rem;
  --gap-5xl: 1.5rem;
  --gap-7xs: 0.375rem;
  --gap-22xl: 2.562rem;
  --gap-135xl: 9.625rem;
  --gap-89xl: 6.75rem;
  --gap-69xl: 5.5rem;
  --gap-93xl: 7rem;
  --gap-37xl: 3.5rem;
  --gap-166xl: 11.562rem;
  --gap-73xl: 5.75rem;
  --gap-188xl: 12.937rem;
  --gap-140xl: 9.937rem;
  --gap-112xl: 8.187rem;
  --gap-39xl: 3.625rem;
  --gap-18xl: 2.312rem;
  --gap-9xs-5: 0.218rem;
  --gap-10xs-1: 0.131rem;
  --gap-9xs-8: 0.237rem;
  --gap-9xs-6: 0.225rem;
  --gap-43xl: 3.875rem;
  --gap-7xl: 1.625rem;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-9xs: 0.25rem;
  --padding-xl: 1.25rem;
  --padding-10xs: 0.187rem;
  --padding-3xs: 0.625rem;
  --padding-2xs: 0.687rem;
  --padding-12xs: 0.062rem;
  --padding-11xs: 0.125rem;
  --padding-67xl: 5.375rem;
  --padding-sm: 0.875rem;
  --padding-4xs: 0.562rem;
  --padding-6xs: 0.437rem;
  --padding-4xl: 1.437rem;
  --padding-8xs: 0.312rem;
  --padding-7xs: 0.375rem;
  --padding-63xl: 5.125rem;
  --padding-mini: 0.937rem;
  --padding-base: 1rem;
  --padding-xs: 0.75rem;
  --padding-smi: 0.812rem;
  --padding-3xl: 1.375rem;
  --padding-lgi: 1.187rem;
  --padding-65xl: 5.25rem;
  --padding-6xl: 1.562rem;
  --padding-lg: 1.125rem;
  --padding-5xl: 1.5rem;
  --padding-17xl: 2.25rem;
  --padding-mid: 1.062rem;
  --padding-87xl: 6.625rem;
  --padding-2xl: 1.312rem;
  --padding-mini-5: 0.906rem;
  --padding-9xs-5: 0.218rem;
  --padding-10xs-5: 0.156rem;
  --padding-669xl: 43rem;
  --padding-428xl: 27.937rem;
  --padding-8xs-5: 0.281rem;
  --padding-20xl: 2.437rem;
  --padding-4xs-5: 0.531rem;
  --padding-7xl-5: 1.656rem;
  --padding-8xl-5: 1.718rem;
  --padding-2xs-1: 0.631rem;
  --padding-11xs-4: 0.087rem;
  --padding-11xs-5: 0.093rem;
  --padding-11xs-7: 0.106rem;
  --padding-11xs-8: 0.112rem;
  --padding-7xs-5: 0.343rem;

  /* Border radiuses */
  --br-11xs-8: 1.8px;
  --br-8xs-5: 4.5px;
  --br-10xs-5: 2.5px;
  --br-7xs-5: 5.5px;
  --br-6xs: 7px;
  --br-7xs: 6px;
  --br-10xs-3: 2.3px;
  --br-10xs: 3px;
  --br-11xs-5: 1.5px;
  --br-mini: 15px;
  --br-5xl-8: 24.8px;
  --br-10xl-5: 29.5px;
  --br-6xs-3: 6.3px;
  --br-12xs: 1px;
  --br-9xs: 4px;
  --br-11xs: 2px;
}
